
*{
    padding:0;
    margin:0;
}
.container{
    display:grid;
    grid-template-columns: 1fr 6fr;
}
.side-bar{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:grid;
    background-color: #22d3ee;
    color:#fafaf9;
    justify-content: center;
    grid-row-start:1;
    grid-row-end:3;
}
.side-bar ul{
    display:grid;
    align-items:center;
    gap:40px;
    list-style-type: none;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
.header{
    display:grid;
    background-color:green;
}
.searchbar-input{
   display:grid;
   height:25px;
   width:500px;
   grid-column-start: 2;
   margin-top:10px;
   grid-row-start:1;
   background-color:gray;
   border-radius: 20px;
}
.searchbar ul{
    display:grid;
    list-style-type: none;
    grid-template-rows:1fr;
    grid-template-columns: 1fr 1fr;
    width:20%;
    align-items: flex-start;
}
.profile{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#fafaf9;
    font-size: 28px;
    display: grid;
    grid-row-start: 1;
    grid-column-start:4;
    grid-column-end:5;
    align-items:center;
    justify-content: center;
    gap:15px;
}
.profile ul{
    display:grid;
    gap:30px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
}
.bigger-profile{
    display:grid;
    grid-row-start:2;
    grid-column-start:1;
}
.message{
    display:grid;
    justify-content:flex-start;
    align-items:flex-start
}
.bigger-profile li{
    display:grid;
    width:20%
}
.bigger-profile ul{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns:1fr 2fr;
    width:30%;
    list-style-type: none;
}

.buttons{
    display:grid;
    height:50px;
    grid-row-start: 2;
    grid-column-start:4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr;
    gap:30px;
    text-align: center;
}
.header-button{
    display:grid;
    border-radius: 20px;
    text-align: center;
    color:#FFFFFF;
    background-color: #22d3ee;
}
.myprojects{
    font-weight: bold;
    height: 20%;
}
.title{
    display:grid;
    justify-content: center;
    align-items: center;
}
.main-content{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
    background-color:chartreuse
}
.projects{
    display:grid;
    grid-template-rows:repeat(auto-fit,minmax(100px,1fr));
    grid-template-columns:repeat(2,1fr);
    grid-column-start:1;
    grid-column-end:3;
    gap:20px;
}
.title-annoucements{
    display:flex;
font-size: large;
justify-content: center;
align-items: center;
}
.annoucements{
    display:grid;
    grid-column-start:3;
    background-color: gray;
    border-radius: 25px;
}
.annoucements ul{
    display:grid;
    align-items:center;
    gap:40px;
    list-style-type: none;
    text-align:center;
}
.annoucements p{
    display:grid;
    width:200px;
}
.myprojects{
    display:grid;
    grid-column-start: 1;
    grid-column-end:3;
    align-items: flex-start;
    gap:20px;
}
.card
{
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    height:200px;
    border-radius: 50px;
    gap:20px;
    }
.card p {
        color: black;
        font-weight: normal;
        font-size: 14px;
        padding:5px;
}
.title-trending{
    display:grid;
    grid-column-start:3;
}
.trending{
display:grid;
grid-column-start:3;
background-color: gray;
border-radius: 25px;
}
.trending ul{
 display:grid;  
 grid-template-rows: 1fr 1fr;
 grid-template-columns:1fr 1fr ;
    list-style-type: none;
}
.trending li{
    width:80px;
    display:grid;
     grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}
.font{
    color:silver;
    font-size:10px;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; ;
    text-align: center;
}
.text-divider {
    display: flex;
    align-items: center;
  }
  
  .text-divider::before,
  .text-divider::after {
    content: '';
    height: 1px;
    background-color: silver;
    flex-grow: 1
    ;}
.profile-pic {
    vertical-align: middle;
     width: 50px;
    height: 50px;
    border-radius: 50%;
}
.notification{
    vertical-align: middle;
    width: 40px;
   height: 40px;
   border-radius: 50%;
}
.dashboard{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
}
.bigger-profile-pic {
    vertical-align: middle;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.name{
    color:black;
    font-size:20px;
    align-items: flex-end;
}